h1{
    position: absolute;
    text-align: center;
    font-size: 118%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 1;
    backdrop-filter: blur(10px);
    white-space: nowrap;
    border-radius: 20px;
}
.p1{
    position: absolute;
    top: 12%;
    font-size: 65%;
    text-align: center;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(10px);
    transform: translate(-2%,-20%);
    white-space: nowrap;
    border-radius: 20px;
}
.protein{
    position: absolute;
    width: 30%;
    top: 22%;
    left: 50%;
    transform: translate(-50%,10px);
    z-index: 1;
    max-width: 300px;
    height: auto;
}
.background{
    position: absolute;
    height: 100vh;
    width:100.3%;
    max-height: 800px;
    transform: translate(-2%,-2%);
}
.cost{
    position: absolute;
    left: 50%;
    transform: translate(-50%,40%);
    z-index: 1;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
a{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin: auto;
}
.p2{
    position: absolute;
    font-size: 65%;
    text-align: center;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(10px);
    transform: translate(-2%,-2%);
    border-radius: 20px;
}
@media (min-width:480px)and (min-height:500px) {
    h1{
        font-size: x-large;
        transform: translate(-50%,-10%);
    }
    .p1{
        font-size: x-small;
        transform: translate(-1.5%,0%);
    }
    .protein{
        transform: translate(-50%,8%);
        width: 155px;
        height:auto;
        max-height: 290px;
    }
    .background{
        height: 100.5%;
        width: 100.82%;
    }
    .cost{
        transform: translate(-50%,90px);
        font-size: x-large;
    }
    a{
        transform: translate(-50%,90px);
        font-size: x-large;
    }
    .p2{
        transform: translate(-1.5%,110px);
        font-size: small;
    }
}
@media (min-width:600px)and (min-height:500px) {
    h1{
        font-size: x-large;
    }
    .p1{
        font-size: small;
        transform: translate(-1%,0%);
    }
    .protein{
        width: 22%;
        height:auto;
        min-height: 230px;
        max-height: 310px;
        transform: translate(-50%,8%);
    }
    .background{
        height: 100.5%;
        width: 101.1%;
    }
    .cost{
        transform: translate(-50%,135px);
        font-size: x-large;
    }
    a{
        transform: translate(-50%,135px);
        font-size: x-large;
    }
    .p2{
        transform: translate(-1%,155px);
        font-size: small;
    }
}
@media (min-width:801px)and (min-height:650px) {
    h1{
        font-size: x-large
}
    .p1{
        font-size: small;
        transform: translate(-1%,0%);
    }
    .protein{
        transform: translate(-50%,8%);
        height: auto;
        width: 21%;
    }
    .background{
        width: 101.2%;
        height: 100.7%;
    }
    .cost{
        transform: translate(-50%,100px);
        font-size: x-large;
    }
    a{
        transform: translate(-50%,100px);
        font-size: xx-large;
    }
    .p2{
        transform: translate(-1%,170px);
        font-size: small;
    }
}
@media (min-width:1025px) and ( min-height:700px) {
    h1{
        font-size: xx-large;
    }
    .p1{
        font-size: medium;
    }
    .protein{
        height: 48%;
        width: 20%;
        transform: translate(-50%,8%);
    }
    .background{
        width: 101.2%;
        height: 100.9%;
    }
    .cost{
        transform: translate(-50%,250px);
        font-size: x-large;
    }
    a{
        transform: translate(-50%,247px);
        font-size: xx-large;
    }
    .p2{
        transform: translate(-2%,270px);
        font-size: large;
    }
}
