h1{
    position: absolute;
    text-align: center;
    font-size: 150%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 1;
    white-space: nowrap;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}
.p1{
    position: absolute;
    top: 10%;
    font-size: 75%;
    text-align: center;
    width: 100%;
    z-index: 1;
    transform: translate(-2%,-0%);
    white-space: nowrap;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    word-wrap: break-word;
}
.protein{
    position: absolute;
    width: 35%;
    top: 22%;
    left: 50%;
    transform: translate(-50%,20px);
    z-index: 1;
    max-width: 160px;
    height: auto;
}
.background{
    position: absolute;
    min-height: 100%;
    max-width:100%;
    transform: translate(-2%,-2%);
    filter: blur(3px);
}
.cost{
    position: absolute;
    left: 50%;
    transform: translate(-50%,600%);
    z-index: 1;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
a{
    position: absolute;
    left: 50%;
    transform: translate(-50%,515%);
    z-index: 1;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin: auto;
}
.p2{
    position: absolute;
    font-size: 65%;
    text-align: center;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(10px);
    transform: translate(-2%,830%);
    border-radius: 20px;
}
@media only screen and (min-width:320px) {
    h1{
        font-size: x-large;
        transform: translate(-50%,-30%);
    }
    .p1{
        font-size:95vh;
        transform: translate(-1.5%,3%);
    }
    .protein{
        transform: translate(-50%,60%);
        width: 155px;
        height: auto;
        max-height: 290px;
    }
    .background{
        width:100%
    }
    .cost{
        transform: translate(-50%,120px);
        font-size: x-large;
    }
    a{
        transform: translate(-50%,120px);
        font-size: x-large;
    }
    .p2{
        transform: translate(-1.5%,140px);
        font-size: small;
    }
}
@media (min-width:480px)and (min-height:500px) {
    h1{
        font-size: x-large;
        transform: translate(-50%,-10%);
    }
    .p1{
        font-size: small;
        transform: translate(-1.5%,3%);
    }
    .protein{
        transform: translate(-50%,18%);
        width: 155px;
        height:auto;
        max-height: 290px;
    }
    .cost{
        transform: translate(-50%,90px);
        font-size: x-large;
    }
    a{
        transform: translate(-50%,90px);
        font-size: x-large;
    }
    .p2{
        transform: translate(-1.5%,110px);
        font-size: small;
    }
}
@media (min-width:600px)and (min-height:500px) {
    h1{
        font-size: x-large;
    }
    .p1{
        font-size: small;
        transform: translate(-1%,0%);
    }
    .protein{
        width: 22%;
        height:auto;
        min-height: 230px;
        max-height: 310px;
        transform: translate(-50%,8%);
    }
    .cost{
        transform: translate(-50%,165px);
        font-size: x-large;
    }
    a{
        transform: translate(-50%,165px);
        font-size: x-large;
    }
    .p2{
        transform: translate(-1%,185px);
        font-size: small;
    }
}
@media (min-width:801px)and (min-height:590px) {
    h1{
        font-size: x-large
}
    .p1{
        font-size: small;
        transform: translate(-1%,0%);
    }
    .protein{
        transform: translate(-50%,8%);
        height: auto;
        width: 21%;
    }
    .cost{
        transform: translate(-50%,100px);
        font-size: x-large;
    }
    a{
        transform: translate(-50%,100px);
        font-size: xx-large;
    }
    .p2{
        transform: translate(-1%,130px);
        font-size: small;
    }
}
@media (min-width:1025px) and ( min-height:700px) {
    h1{
        font-size: xx-large;
    }
    .p1{
        font-size: medium;
    }
    .protein{
        height: 48%;
        width: 20%;
        max-width: 230px;
        transform: translate(-50%,8%);
    }
    .cost{
        transform: translate(-50%,250px);
        font-size: x-large;
    }
    a{
        transform: translate(-50%,247px);
        font-size: xx-large;
    }
    .p2{
        transform: translate(-2%,270px);
        font-size: large;
    }
}
